body{
    background: linear-gradient(to right, blue, #833ab4, red);
    background-size: 400% 400%;
    animation: background1 10s ease-in-out infinite;
}
@keyframes background1{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}